/* Dropdown elem-menu */
.menu_el {
    cursor: pointer;
}

/* Dropdown elem-menu on hover & focus */
.menu_el:hover, .menu_el:focus {
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

html {
    /* переопределится в JS */
    --element-top: 220px;
    --element-left: 200px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: calc(var(--element-top) * 1px);
    left: calc(var(--element-left) * 1px);
    background-color: white;
    border-radius: 1rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 1rem;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}